{% extends "base.html" %}

{% block content %}
<section id="about" name="perform_about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Apie šią svetainę</h2>
                <p class="lead">Nori nusigauti iš taško A į tašką B, tačiau nenori keliauti vienas šioje
                    ekonomikoje? Ne bėda, nes šioje svetainėje gali:</p>
                <ul>
                    <li>Sukurti skelbimus, padėsiančius susirasti pakeleivių</li>
                    <li>Sužinoti, kaip yra įvertinti tavo bendrakeleiviai arba gali pats juos įvertinti</li>
                    <li>Nesvarbu, ar kelionę planuoji už valandos, ar už mėnesio, tavo skelbimai nepasimes</li>
                    <li>Patiko šoferis arba keleivis? Pasirink, kaip mėgstamą!</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}