{% extends "main/base.html" %}

{% block content %}
<section id="services" name="perform_services">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Mūsų produktas</h2>
                <p class="lead">Mes siūlome platformą, kurioje galėsite kurti skelbimus tiek norėdami rasti
                    keleivių, tiek ieškodami vairuotojų kelionei iš jūsų pasirinktos lokacijos, į jūsų pasirinktą ar
                    apytikslę lokaciją. Čia panašiai kaip taksi, bet geriau - nes tai yra didelių atstumų platforma,
                    ir čia viskas priklauso nuo jūsų tarpusavio susitarimo!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}