{% extends 'main/base.html' %}

{% block content %}
<h2>Skelbimų sąrašas</h2>
{% if posting_list %}
<ul>
    {% for posting in posting_list %}
    <li><a href="{% url 'posting' posting.id %}">{{ posting.title }}</a></li>
    {% endfor %}
</ul>
{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% else %}
<p>Skelbimų nėra.</p>
{% endif %}
{% endblock %}